.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.container .carousel {
  width: 700px;
  height: 300px;
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  position: relative;
  background-color: #ffffff;
  margin-top: 2rem;
}

.container .carousel .carousel-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
  background-color: #ffffff;
}

.container .carousel .carousel-items .carousel-item {
  min-width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.container .carousel .carousel-items .carousel-item .carousel-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .carousel .carousel-items .carousel-item .carousel-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(18, 18, 18, 0.6);
}

.container .carousel .carousel-items .carousel-item .carousel-content h3 {
  text-transform: uppercase;
  color: #f5f5f5;
  margin-bottom: 1rem;
}

.container .carousel .carousel-items .carousel-item .carousel-content p {
  color: #f5f5f5;
  line-height: 1;
}

.container .carousel .carousel-controls > button {
  width: 70px;
  height: 70px;
  background: #121212;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  color: #f5f5f5;
}

.container .carousel .carousel-controls > button i {
  font-size: 2rem;
  margin-top: -1px;
}

.container .carousel .carousel-controls > button:first-of-type {
  left: calc(70px / -2);
  -webkit-box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .carousel .carousel-controls > button:last-of-type {
  right: calc(70px / -2);
  -webkit-box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 770px) {
  .container .carousel {
    width: calc(100% - 70px);
    height: 30vh;
  }
  .container .carousel .carousel-items .carousel-item .carousel-content h3 {
    margin-bottom: 0;
  }
  .container .carousel .carousel-items .carousel-item .carousel-content p {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */